# Manipulate using a list

In [1]:
list=[1,2,3]
list

[1, 2, 3]

In [2]:
#i)To add new elements to the end of the list.


list.append('siri')                             
list

[1, 2, 3, 'siri']

In [8]:
list=[1,12,3]
list.revesre()
print("using reverse( )", list)

AttributeError: 'list' object has no attribute 'revesre'

In [9]:
#ii)To reverse elements in the list.


lst=[1,2,3]
lst.reverse()
print(lst)

[3, 2, 1]

In [10]:
a="hello" +10
print(a)

TypeError: can only concatenate str (not "int") to str

In [11]:
a="*" + 10
print(a)

TypeError: can only concatenate str (not "int") to str

In [1]:
#iii)To display the same list of elements multiple times.

a="hello " *10
print(a)

hello hello hello hello hello hello hello hello hello hello

In [2]:
#iv)To concatenate two list

a=[1,4]
b=[2,3]
c=a+b
print(c)

[1, 4, 2, 3]

In [3]:
#v)To sort the elements in the list in ascending order.

nums=[3,2,1]
nums.sort()
print(nums)

[1, 2, 3]

# 2.Write a Python program to do in the tuples.

In [ ]:
i) Manipulate using tuples

A: We can't do the manipulate

In [5]:
#ii)to add new elements to the end of the tuples

s=(2,5,9)
s_append=s+(8,9)
print(s_append)

(2, 5, 9, 8, 9)

In [6]:
#iii)to reverse elements in the list.

def reverseTuple(lstofTuple):
    return [tuple(reversed(tup)) for tup in lstofTuple]

lstofTuple=[(1,2), (3,4)]
print(reverseTuple(lstofTuple))

[(2, 1), (4, 3)]

In [7]:
#iv)to display the elements of the same tuple multiple times.

num_tuple=(10,) * 5
print(num_tuple)

(10, 10, 10, 10, 10)

In [1]:
#vi)to sort the elements in the list in ascending order.

t1=[7,6]
t2=[8.0]
t3=(t1,t2)
t1.sort()
t3

([6, 7], [8.0])

# 3) Write a python prograam to implement the following using list

In [7]:
#i)ceate a list with integers(min 10 numbers)

lst=[99,8,7,5,66,3,5,8,11,22,44,4]
lst

[99, 8, 7, 5, 66, 3, 5, 8, 11, 22, 44, 4]

In [9]:
#ii)how to display the last number in the list

my_list=[99, 8, 7, 5, 66, 3, 5, 8,11, 22, 44, 4]

#using negative index -1 to get the last element
last_number = my_list[-1]

print(f"The last number in the list is: {last_number}")

The last number in the list is: 4

In [10]:
#iii) command for displaying the values from the list[0:4]

my_list=[1,2,3,4,5,6,7,8,9,10,11,12]

#display values from index 0 to 3
values=my_list[0:4]

print("Values from the list:", values)

Values from the list: [1, 2, 3, 4]

In [11]:
#iv)command for displaying the values from the list[2:]

my_list=[1,2,3,4,5,6,7,8,9,10]

values=my_list[2:]
print("Values from the list:", values)

Values from the list: [3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
#v)command for displaying the values from the list[:6]

my_list=[1,2,3,4,5,6,7]

values=my_list
print("First 6 values from the list:", values)

First 6 values from the list: [1, 2, 3, 4, 5, 6, 7]

# 4.write a python program:

In [18]:
#i)to display the elements 10 and 50 from tuple1

t1=(10,50,20,40,30)

e1=t1[0]
e2=t1[1]

print("E1:", e1)
print("E2:", e2)

E1: 10
E2: 50

In [22]:
#ii)to dsiplay the length of a tuple1

tuple1=(10,50,20,40,30)

length=len(tuple1)

print("Length of tuple1:", length)

Length of tuple1: 5

In [23]:
#iii)to find the minimum element from tuple1.

t1=(10,50,20,40,30)

min_element=min(tuple1)

print("Minimunn element from tuple1:", min_element)

Minimunn element from tuple1: 10

In [24]:
#iv)to add all elements in the tuple1

t1=(10,50,20,40,30)

total=sum(tuple1)
print("Sum of all elements in tuple1:", total)

Sum of all elements in tuple1: 150

In [25]:
#v)to display the same tuple1 multiple times.

t1=(10,50,20,40,30)
n=3
result=tuple1*n
print("Tuple1 displayed", n, "times:", result)

Tuple1 displayed 3 times: (10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5.write a python program

In [8]:
str1 = "South India"
length = len(str1)
print(length)

11

enter a string: ranjith
Reversed string: ranjith

Hello, World!Hello, World!Hello, World!

cooncatenated string: hello world

In [24]:
#i)to calculate the length of the string.

# Input a string
my_string = input("Enter a string: ")

# Calculate the length of the string
string_length = len(my_string)

# Display the length
print(f"The length of the string is: {string_length}")

Enter a string: Sirisharanjith
The length of the string is: 14

13

In [3]:
#ii)to reverse words in a string

def reverse_words(string):
    words = string.split()
    reversed_words = words[::-1]
    reversed_string = " ".join(reversed_words)
    return reversed_string

string = "Hello, world!"
reversed_string = reverse_words(string)
print(reversed_string)

world! Hello,

In [6]:
#iii)To display the same string multipletimes

string = "Hello!"
repeated_string = string * 3
print(repeated_string)

Hello!Hello!Hello!

In [7]:
#iv)To concatenate two strings

string1 = "Hello"
string2 = "world"
concatenated_string = string1 + " " + string2
print(concatenated_string)

Hello world

In [5]:
#v)Str1="South India", using string slicing to display "India"

str1 = "South India"
india = str1[6:]
print(india)

India

# 6.perform the following

In [9]:
#i)creating the dictionary

my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [25]:
#ii)Accessing values and keys in the dictionary

my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

# Accessing values by keys
name = my_dict["name"]
age = my_dict["age"]
city = my_dict["city"]

# Accessing keys using the keys() method
keys = my_dict.keys()

print("Values:")
print("Name:", name)
print("Age:", age)
print("City:", city)

print("Keys:", list(keys))

Values:
Name: John
Age: 30
City: New York
Keys: ['name', 'age', 'city']

In [11]:
#iii)updating the dictionary using afunction.
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

# Updating the value associated with the "age" key
my_dict["age"] = 31

print(my_dict)


my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

# Adding a new key-value pair
my_dict["country"] = "USA"

print(my_dict)

{'name': 'John', 'age': 31, 'city': 'New York'}
{'name': 'John', 'age': 30, 'city': 'New York', 'country': 'USA'}

In [12]:
# Initial dictionary
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

# Create a dictionary with the updates
updates = {
    "age": 31,  # Updating the "age" key
    "country": "USA"  # Adding a new key-value pair
}

# Update the initial dictionary with the contents of the 'updates' dictionary
my_dict.update(updates)

print(my_dict)

{'name': 'John', 'age': 31, 'city': 'New York', 'country': 'USA'}

In [15]:
#iv)clear and delete the dictonary values.

my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

my_dict.clear()

print(my_dict)


my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

del my_dict

{}

In [16]:
#7.Python program to insert a number to any position in a list

# Sample list
my_list = [1, 2, 3, 4, 5]

# Number to insert
number_to_insert = 10

# Position to insert (0-based index)
position = 2

# Insert the number at the specified position
my_list.insert(position, number_to_insert)

# Print the updated list
print(my_list)

[1, 2, 10, 3, 4, 5]

In [17]:
#8.Python program to delete an element from a list by index

# Sample list
my_list = [1, 2, 3, 4, 5]

# Index of the element to delete
index_to_delete = 2

# Delete the element at the specified index
del my_list[index_to_delete]

# Print the updated list
print(my_list)



# Sample list
my_list = [1, 2, 3, 4, 5]

# Index of the element to delete
index_to_delete = 2

# Delete the element at the specified index using pop()
deleted_element = my_list.pop(index_to_delete)

# Print the updated list and the deleted element
print("Updated List:", my_list)
print("Deleted Element:", deleted_element)

[1, 2, 4, 5]
Updated List: [1, 2, 4, 5]
Deleted Element: 3

Enter a number between 1 and 100: 5
You entered: 5

In [19]:
#9.Write a program to display a number from 1 to 100

for number in range(1, 101):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
#10)Write a Python program o find the sum of all items in a tuple

# Sample tuple
my_tuple = (1, 2, 3, 4, 5)

# Initialize a variable to store the sum
total_sum = 0

# Iterate through the tuple and add each item to the sum
for item in my_tuple:
    total_sum += item

# Print the sum
print("Sum of items in the tuple:", total_sum)

In [20]:
#12.A list of words is given.Find the words from the list that have their second character in uppercase Is=['hello','Dear','hOw','ARe','You']

word_list = ['hello', 'Dear', 'hOw', 'ARe', 'You']

result_words = []

for word in word_list:
    if len(word) >= 2 and word[1].isupper():
        result_words.append(word)

print("Words with the second character in uppercase:", result_words)

Words with the second character in uppercase: ['hOw', 'ARe']

In [ ]:
math_operations = {
    'square': lambda x: x**2,
    'cube': lambda x: x**3,
    'square_root': lambda x: x**0.5
}

number=6
print("square:",math_operations['square'](number))
print("Cube:", math_operations['cube'](number))
print("Square Root:", math_operations['square_root'](number))

In [ ]:
#13.A

gmoon=1.622
gearth=9.81
weightonearth={'john':45,'shelly':65,'marry':35}
moon_weight={name:(weight*gmoon)/gearth for name,weight in weightonearth.items()}
for name,weight_moon in moon_weight.items():
    print(f"{name} :{weight_moon:.2f} kg")

# Control Structures

In [21]:
1.write a python program to find the first N prime numbers

def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def find_primes(n):
    primes = []
    num = 2
    while len(primes) < n:
        if is_prime(num):
            primes.append(num)
        num += 1
    return primes

N = int(input("Enter the value of N: "))
prime_list = find_primes(N)
print(f"The first {N} prime numbers are: {prime_list}")

Enter the value of N: 2
The first 2 prime numbers are: [2, 3]

In [ ]:
2.

In [22]:
#3.write a python program to serach for a string in the given list.

# Create a list of strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Input the string to search for
search_string = input("Enter the string to search for: ")

# Initialize a flag to check if the string is found
found = False

# Iterate through the list to search for the string
for item in my_list:
    if search_string == item:
        found = True
        break

# Check if the string was found or not
if found:
    print(f"The string '{search_string}' was found in the list.")
else:
    print(f"The string '{search_string}' was not found in the list.")

Enter the string to search for: 3
The string '3' was not found in the list.

In [ ]:
#4.write a python program that acceptsa string and calculates the numbers of upper-case letters and lower case letters.

In [23]:
5
# Initialize variables to store the sums
even_sum = 0
odd_sum = 0

# Iterate through numbers from 12 to 37
for num in range(12, 38):
    if num % 2 == 0:  # Check if the number is even
        even_sum += num
    else:
        odd_sum += num

# Display the sums
print(f"Sum of even numbers between 12 and 37: {even_sum}")
print(f"Sum of odd numbers between 12 and 37: {odd_sum}")

Sum of even numbers between 12 and 37: 312
Sum of odd numbers between 12 and 37: 325

In [ ]:
6
# Input the number for which you want to print the table
number = int(input("Enter a number: "))

# Define the range of the table, e.g., from 1 to 10
table_range = range(1, 11)

# Iterate through the range and print the table
print(f"Multiplication Table for {number}:")
for i in table_range:
    result = number * i
    print(f"{number} x {i} = {result}")

In [ ]:
7
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def sum_of_first_n_primes(n):
    prime_sum = 0
    num = 2
    count = 0
    while count < n:
        if is_prime(num):
            prime_sum += num
            count += 1
        num += 1
    return prime_sum

n = 10
prime_sum = sum_of_first_n_primes(n)
print(f"The sum of the first {n} prime numbers is: {prime_sum}")

In [ ]:
# Input two numbers and the operation to perform
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the operation (+, -, *, /): ")

# Perform arithmetic operations using nested if statements
if operation == '+':
    result = num1 + num2
elif operation == '-':
    result = num1 - num2
elif operation == '*':
    result = num1 * num2
elif operation == '/':
    if num2 == 0:
        print("Error: Division by zero is not allowed.")
    else:
        result = num1 / num2
else:
    print("Invalid operation entered.")

# Display the result
print(f"Result: {result}")

In [ ]:
# Input temperature in Celsius
celsius = float(input("Enter temperature in Celsius: "))

# Convert Celsius to Fahrenheit using the formula
fahrenheit = (celsius * 9/5) + 32

# Display the temperature in Fahrenheit
print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit.")

In [ ]:
# Define a list of numbers
numbers = [12, 45, 7, 23, 56, 89, 2, 8, 67]

# Initialize variables to store the maximum and minimum values
max_num = numbers[0]
min_num = numbers[0]

# Iterate through the list to find the maximum and minimum
for num in numbers:
    if num > max_num:
        max_num = num
    if num < min_num:
        min_num = num

# Display the maximum and minimum numbers
print(f"Maximum number in the list: {max_num}")
print(f"Minimum number in the list: {min_num}")

In [ ]:
# Define constants for time units
days_per_month = 30
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60

# Calculate the total number of seconds
total_seconds = days_per_month * hours_per_day * minutes_per_hour * seconds_per_minute

# Display the result
print(f"Number of seconds in a 30-day month: {total_seconds} seconds")

In [ ]:
 Define constants for time units
seconds_per_minute = 60
minutes_per_hour = 60
hours_per_day = 24

# Calculate the number of seconds in a day
seconds_per_day = seconds_per_minute * minutes_per_hour * hours_per_day

# Calculate the number of seconds in a non-leap year (365 days)
days_per_year = 365
seconds_per_year = days_per_year * seconds_per_day

# Display the result
print(f"Number of seconds in a year (365 days): {seconds_per_year} seconds")

In [ ]:
# Define the speed of the train in miles per hour
speed_mph = 150

# Define the distance from London to Glasgow in miles
distance_miles = 414

# Calculate the time it takes to travel the distance
time_hours = distance_miles / speed_mph

# Display the result
print(f"It will take {time_hours} hours to travel from London to Glasgow at a speed of {speed_mph} mph.")

In [ ]:
# Input ages of Ram, Sam, and Khan
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

# Assume Ram is the eldest and youngest initially
eldest = "Ram"
youngest = "Ram"

# Compare ages to find the eldest and youngest
if sam_age > ram_age:
    eldest = "Sam"
    youngest = "Ram"

if khan_age > sam_age:
    eldest = "Khan"

if khan_age < ram_age:
    youngest = "Khan"

# Display the results
print(f"The eldest among Ram, Sam, and Khan is {eldest}.")
print(f"The youngest among Ram, Sam, and Khan is {youngest}.")

In [ ]:
### Without Slicing:

def rotate_right_n_times(lst, n):
    if not lst:
        return lst  # Empty list, no rotation needed
    n = n % len(lst)  # Ensure n is within the length of the list
    return lst[-n:] + lst[:-n]

# Example usage:
my_list = [1, 2, 3, 4, 5]
n = int(input("Enter the number of times to rotate: "))
rotated_list = rotate_right_n_times(my_list, n)
print("Rotated list:", rotated_list)


### With Slicing:

python
def rotate_right_n_times_with_slicing(lst, n):
    if not lst:
        return lst  # Empty list, no rotation needed
    n = n % len(lst)  # Ensure n is within the length of the list
    return lst[-n:] + lst[:-n]

# Example usage:
my_list = [1, 2, 3, 4, 5]
n = int(input("Enter the number of times to rotate: "))
rotated_list = rotate_right_n_times_with_slicing(my_list, n)
print("Rotated list:", rotated_list)

In [26]:
#17. python program to print the patterns given below

n=5
for number in range(n):
    print("* " * (number+1))

*
* *
* * *
* * * *
* * * * *

In [27]:
n=7
k=n
for i in range(1,n):
    spaces=" " * k
    stars="* " * i
    print(spaces+stars)
    k=k-1

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *

In [29]:
str='python'
for i in range(1,7):
    for j in range(0,i):
        print(str[j],end="")
    print()

p
py
pyt
pyth
pytho
python